// logo
.logo{
  display: block;
  margin: 0 auto;
}



// menu-burger

.header{
  position: absolute;
  top: 0;
  left: 0;
}

.header__burger-menu{
  position: fixed;
  top: 18px;
  right: 18px;
}




.header__icon-burger-menu{
  display: block;
  fill:white;
  .header__burger-menu:hover &,
  .header__burger-menu:focus &{
    fill: $social-link-accent-color;
  }
}

// hero
.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../img/mobile/header-bg1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text{
  padding-top: 202px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: $title-text;
  text-align: center;
}

.hero__title{
  font-family: $title-font;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: $title-text;
  margin-bottom: 70px;
  text-align: center;
}

// buttons
.hero__btn{
  display: block;
  max-width: 200px;
  max-height: 60px;
  margin: 0 auto;
  border-radius: 5px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: $title-text;
}

.hero__btn--book{
  background-color: $accent-color;
  padding: 22px 60px;
  margin-bottom: 23px;
  transition: background-color 300ms linear;
  
  &:hover,
  &:focus{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: $accent-color;
  }
}


.hero__btn--explore{
 border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 22px 70px;
  position: relative;
  &:hover,
  &:focus{
    background-color: $accent-color;
  }
}

.hero__btn--explore::after{
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: $social-link-accent-color;
  border-radius: 58px;
  position: absolute;
  top: 75px;
}

// social-link
.hero-social__link{
  display: block;
  padding: 10px;
  border-radius: 50%;
  border:1px solid rgba(255, 255, 255, 0.2);
}

.hero-social__icon{
  display: block;
}
