// logo
.logo{
  position: absolute;
  top: 20px;
  left: 195px;
}

// menu-burger

.header{
  position: absolute;
  top: 0;
  left: 0;
}
 

.header__burger-menu{
  position: absolute;
  top: 20px;
  right: 0;
}


.header__icon-burger-menu{
  display: block;
  fill:white;
  .header__burger-menu:hover &,
  .header__burger-menu:focus &{
    fill: $social-link-accent-color;
  }
}


.menu-container__link{
text-transform: uppercase;
font-size: 12px;
line-height: 18px;
color: #FFFFFF;
}
.menu-container{
  position: fixed;
  top: 0;
  left: 50%;
  width: 240px;
  height: 100vh;
  background-color: black;
  padding: 40px;
  z-index: 100;
  transform: scaleX(0);
  transition: transform 300ms linear;
  overflow-y: scroll;
}

.btn__close{
  position: absolute;
  top: 10px;
  right: 20px;
}

.menu-container__btn-close{
  position: absolute;
  top: 17px;
  right: 17px;
  fill: white;
  .btn-close:hover &,
  .btn-close:focus &{
    fill: $social-link-accent-color
  }
}

.is-open{
  transform: scaleX(1);
  pointer-events: none;
}

.menu-container__item:not(:last-child){
  margin-bottom: 20px;
}

.menu-container__link{
  position: relative;
}
.current-page::after{
  content:"";
  display: block;
  width: 100%;
  height: 3px;
  background-color: $accent-color;
  position: absolute;
  top: 19px;
  left: 0;
  
}


// hero
.hero{
  padding-top: 202px;
  padding-bottom: 74px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../img/mobile/header-bg1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text{
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: $title-text;
  text-align: center;
}

.hero__title{
  font-family: $title-font;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: $title-text;
  margin-bottom: 70px;
  text-align: center;
}

// buttons
.hero__btn{
  display: block;
  max-width: 200px;
  max-height: 60px;
  margin: 0 auto;
  border-radius: 5px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: $title-text;
}

.hero__btn--book{
  background-color: $accent-color;
  padding: 22px 60px;
  margin-bottom: 23px;
  transition: background-color 300ms linear;
  
  &:hover,
  &:focus{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: $accent-color;
    
  }
}


.hero__btn--explore{
 border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 22px 70px;
  position: relative;
  margin-bottom: 57px;
  transition: background-color 300ms linear;
  &:hover,
  &:focus{
    background-color: $accent-color;
  }
}

.hero__btn--explore::after{
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: $social-link-accent-color;
  border-radius: 58px;
  margin-top: 30px;
  
}

// social-link
.hero-social{
  position: absolute;
  right: 23px;
  top: 390px;
  &__icon{
    fill: $title-text;
    .hero-social__link &:hover,
    .hero-social__link &:focus{
      fill: #F1C7C7;
    }
  }
}


.hero-social__item:not(:last-child){
  margin-bottom: 3px;
}

.hero-social__link{
  padding: 10px;
  border-radius: 50%;
  border:1px solid rgba(255, 255, 255, 0.2);
  display: block;
  transition: background-color 300ms linear;
  &:hover,
  &:focus{
    background-color: $social-link-accent-color;
  }
}

.hero__schedule{
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.025em;
  color: $title-text;
  margin-bottom: 50px;
}

.hero__btn-arrow{
  padding: 9px 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  display: block;
  transition: background-color 300ms linear;
  
  &:hover,
  &:focus{
   background-color: $accent-color;
 }
 
}
.hero__btn-arrow__icon{
  fill: $title-text;
  transition: fill 300ms linear;
  .hero__btn-arrow:hover &,
  .hero__btn-arrow:focus &{
    fill:$title-black;
  }
}
