.container{
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media screen and(min-width: 480px){
    width: 450px;
  }
  @media screen and(min-width: 768px){
    width: 768px;
  }
  @media screen and(min-width: 1200px){
    width: 1200px;}
  
}
// rectangle
.thumb__img::after{
  content:'';
  display: block;
  width: 140px;
  height: 109px;
  border: 9px solid rgba(232, 195, 0, 0.7);
  border-radius: 5px;
  background-color: transparent;
}