// Сброс
ul,ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

img{
  display: block;
  height: auto;
}
textarea{
  resize: none;
}

button{
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  // background-color: red;
}