$title-text: #FFFFFF;
$input-text: rgba(51, 51, 51, 0.5);
$title-black: #000000;
$menu: #333333;
$copyright: rgba(255, 255, 255, 0.5);
$accent-color: #E8C300;
$social-link-accent-color: #BE5F37;

$title-font: 'Roboto', sans-serif;